.intro-fullscreen {
  position: fixed;
  inset: 0;
  background-color: #f5f8fa;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.intro-fullscreen.bp5-dark {
  background: rgb(47, 52, 60);
  color: #fff;
}

.intro-main-content {
  display: flex;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 85px);
}

.intro-screen {
  /* max-width: 600px; */
  width: 100%;
  animation: fadeIn 0.3s ease-in;
}

.intro-heading,
.intro-description {
  text-align: center;
}

.intro-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.intro-progress-bar {
  border-radius: 0 !important;
}

.intro-progress-bar .bp5-progress-meter {
  border-radius: 0 !important;
}

.skip-button {
  color: var(--bp-color-text-muted);
  background: none;
  border: none;
  font-size: 14px;
}

.skip-button:hover {
  color: var(--bp-color-text-primary);
  background-color: transparent;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
